.peme{
    background-color: tomato; color: darkblue; font-size: 30px;
}
p{
    font-style: italic;
}
.filiz{
    background-color: brown;color: white; font-size: 30px; 
}
span{
    background-color: yellow;
}
